config ICM20948
    bool "ICM20948 9-axis Motion Sensor"
    depends on DT_HAS_INVENSENSE_ICM20948_ENABLED
    select I2C
    help
      Enable support for the ICM20948 9-axis Motion Sensor

      https://www.invensense.com/products/motion-tracking/9-axis/icm-20948/
        Requires I2C or SPI.

if ICM20948

  config ICM20948_INIT_PRIORITY
    int "Init priority"
    default SENSOR_INIT_PRIORITY
    help
      Set the initialization priority of the ICM20948 driver.
      Higher numbers indicate higher priority.

  config ICM20948_THREAD_PRIORITY
    int "Thread priority"
    default 10
    help
      Set the thread priority for the ICM20948 trigger thread.
      Higher numbers indicate lower priority.

  config ICM20948_THREAD_STACK_SIZE
    int "Thread stack size"
    depends on ICM20948_TRIGGER_OWN_THREAD
    default 1024
    help
      Stack size of thread used by the driver to handle interrupts.

  config ICM20948_AK09916
    bool "AK09916 Magnetometer Support"
    default y
    depends on ICM20948
    depends on DT_HAS_ASAHI_KASEI_AK09916_ENABLED
    help
      Enable support for the AK09916 magnetometer integrated in the ICM20948 sensor.

  choice
    prompt "Trigger mode"
    default ICM20948_TRIGGER_NONE
    help
      Specify the type of triggering used by the driver.

    config ICM20948_TRIGGER_NONE
      bool "No trigger"

    config ICM20948_TRIGGER_GLOBAL_THREAD
      bool "Use global thread"
      depends on GPIO
      depends on $(dt_compat_any_has_prop,$(DT_COMPAT_INVENSENSE_ICM20948),int-gpios)
      select ICM20948_TRIGGER

    config ICM20948_TRIGGER_OWN_THREAD
      bool "Use own thread"
      depends on GPIO
      depends on $(dt_compat_any_has_prop,$(DT_COMPAT_INVENSENSE_ICM20948),int-gpios)
      select ICM20948_TRIGGER

  endchoice

  config ICM20948_TRIGGER
    bool "Support for triggers"
    default y
    help
      Enable support for triggers in the ICM20948 driver.

endif # ICM20948



